    /*
    Flaticon icon font: Flaticon
    Creation date: 04/02/2021 06:22
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-info:before { content: "\f100"; }
.flaticon-multimedia:before { content: "\f101"; }
.flaticon-picture:before { content: "\f102"; }
.flaticon-frame:before { content: "\f103"; }
.flaticon-audio:before { content: "\f104"; }
.flaticon-switch-to-full-screen-button:before { content: "\f105"; }
.flaticon-virtual-reality:before { content: "\f106"; }
.flaticon-call-received-arrow:before { content: "\f107"; }
.flaticon-settings:before { content: "\f108"; }
.flaticon-question-mark:before { content: "\f109"; }
.flaticon-360-degrees:before { content: "\f10a"; }
.flaticon-measurement:before { content: "\f10b"; }
.flaticon-contact:before { content: "\f10c"; }
.flaticon-earth-globe:before { content: "\f10d"; }
.flaticon-phone:before { content: "\f10e"; }
    
    $font-Flaticon-info: "\f100";
    $font-Flaticon-multimedia: "\f101";
    $font-Flaticon-picture: "\f102";
    $font-Flaticon-frame: "\f103";
    $font-Flaticon-audio: "\f104";
    $font-Flaticon-switch-to-full-screen-button: "\f105";
    $font-Flaticon-virtual-reality: "\f106";
    $font-Flaticon-call-received-arrow: "\f107";
    $font-Flaticon-settings: "\f108";
    $font-Flaticon-question-mark: "\f109";
    $font-Flaticon-360-degrees: "\f10a";
    $font-Flaticon-measurement: "\f10b";
    $font-Flaticon-contact: "\f10c";
    $font-Flaticon-earth-globe: "\f10d";
    $font-Flaticon-phone: "\f10e";